In [1]:
import stratilib as sl

In [2]:
sl.read_lito('Lito.xlsx')

,Pozo,Fm,Tope,Base,Espesor,Litología,Granulometría,Estructuras,Fósiles,Descripción,Gran
0,NaN,Salto,0.0,20.0,20,100,s,NaN,NaN,NaN,0.6
1,NaN,Arapey,20.0,120.0,100,500,sf,NaN,NaN,NaN,1.0
2,NaN,Buena Vista,120.0,240.0,120,200,g,NaN,NaN,NaN,0.9
3,NaN,Tacuarembó,240.0,290.0,50,490,c,NaN,NaN,NaN,0.8
4,NaN,San Gregorio,290.0,323.0,33,300,NaN,NaN,NaN,NaN,1.0
5,NaN,Numo,323.0,334.0,11,600,NaN,NaN,NaN,NaN,1.0
6,NaN,Mañoque,334.0,344.0,10,200,NaN,NaN,NaN,NaN,1.0
7,NaN,Tulipán,344.0,372.0,28,500,NaN,NaN,NaN,NaN,1.0
8,NaN,Tito,372.0,738.0,366,300,NaN,NaN,NaN,NaN,1.0

In [3]:
sl.DICT_GRAN

{'cl': 0.55,
 's': 0.6,
 'vf': 0.65,
 'f': 0.7,
 'm': 0.75,
 'c': 0.8,
 'vc': 0.85,
 'g': 0.9}